<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="submitIngredientForm()" #ingredientForm="ngForm">
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input 
						type="text" 
						id="ingredientName" 
						class="form-control"
						ngModel
						name="ingredientName"
						#ingredientName="ngModel"
						required>
					<span 
						*ngIf="!ingredientName.valid && ingredientName.touched"
						class="help-block">
							Please enter in a valid ingredient name
					</span>
				</div>
				<div class="col-sm-2 form-group">
					<label for="amount">Amount</label>	
					<input t
						type="number" 
						id="ingredientAmount" 
						class="form-control"
						ngModel
						name="ingredientAmount"
						#ingredientAmount="ngModel"
						required
						[pattern]="'^[1-9]+[0-9]*$'">
					<span 
						*ngIf="!ingredientAmount.valid && ingredientAmount.touched"
						class="help-block">
							Please enter in a valid ingredient amount
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-success" type="submit" [disabled]="!ingredientForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
					<button
					 *ngIf="editMode"
					 class="btn btn-danger" 
					 type="button" 
					 (click)="deleteIngredient()">
						Delete
					</button>
					<button class="btn btn-primary" type="button" (click)="clearIngredientForm()">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>